.bounce:hover, .bounce:focus, .bounce:active {
  animation: bounce 1.3s ease infinite;
  transform-origin: bottom;
}

@keyframes bounce { 
  0% {
    transform: scale(1) translateY(0); 
  }
  15% {
    transform: scale(1.1, 0.8); 
  }
  30% { 
    transform: scale(0.9, 1.1) translateY(-50px); 
  }
  65% { 
    transform: scale(1.05, 0.9) translateY(0); 
  }
  77.5% {
    transform: scale(0.95, 1.04);
  }
  90% {
    transform: scale(1, 1);
  }
}

@keyframes bounce-mobile {
  0% {
    transform: scale(1) translateY(0); 
  }
  15% {
    transform: scale(1.1, 0.8); 
  }
  30% { 
    transform: scale(0.9, 1.1) translateY(-20px); 
  }
  65% { 
    transform: scale(1.05, 0.9) translateY(0); 
  }
  77.5% {
    transform: scale(0.95, 1.04);
  }
  90% {
    transform: scale(1, 1);
  }
}

@media screen and (max-width: 750px) {
  .bounce:hover, .bounce:focus, .bounce:active {
    animation: bounce-mobile 1.3s ease infinite;
  }
}
