.event-links {
  position: relative;
}

.event-links-dropdown {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  transition: 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  overflow-y: hidden;
  border-radius: 0.5rem;
  padding: 0.6rem;
  box-sizing: content-box;
  height: 0;
  opacity: 0;
  background-color: aliceblue;
  color: black;
}

.event-links-dropdown li {
  font-size: 1rem;
  width: max-content;
  margin: 0.35rem auto;
}
