body {
  padding-bottom: 3rem;
}

.nav-logo {
  filter: grayscale() brightness(0%);
}

.quote-text {
  margin: 0 auto;
  width: max-content;
  text-align: right;
}

.quote-text .quote {
  display: block;
  max-width: 50vw;
  font-style: italic;
  font-size: 1.2em;
  text-align: center;
}
.quote-text .quote::before {
  content: "“";
}
.quote-text .quote::after {
  content: "„";
}

.quote-text .author {
  display: block;
  max-width: 50vw;
}
.quote-text .author::before {
  content: "— ";
}

.list {
  list-style-type: disc;
  padding-left: 1.3rem;
}

.rules h3 {
  font-family: azonix;
  margin-bottom: 0.6rem;
  font-size: 2rem;
}

.rules {
  margin: 2rem 0;
}

@media screen and (min-width: 750px) {
  .detail {
    justify-content: center;
  }
}

@media screen and (max-width: 750px) {
  body {
    padding-bottom: 2rem;
  }

  .rules h3 {
    font-size: 1.5rem;
  }

  .list {
    padding-left: 1.1rem;
  }
}
