@media screen and (max-width: 750px) {
  body::before {
    background-size: 84%;
  }

  .flex {
    flex-direction: column;
  }

  .mathtrix-header {
    margin-top: 3rem;
  }

  .mathtrix-details {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .flex-1 {
    padding: 0;
    padding-bottom: 1rem;
  }

  .section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  p {
    font-size: 1.1rem;
  }
}
