body {
  min-height: 100vh;
  padding-bottom: 2rem;
}

.box {
  width: calc(100vh - 20rem);
  height: calc(100vh - 20rem);
  margin: 1.5rem 3rem;
  position: relative;
  backdrop-filter: blur(2px);
  background: #0000003d;
  border: 3px solid black;
  z-index: -1;
}

.circle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  border: 3px solid black;
  background: #ffffff08;
}

#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.events li {
  height: 12vh;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #888888;
  background: #88888869;
  position: relative;
  transition: 0.2s;
  cursor: pointer;
}

.events li img {
  max-height: 100%;
  margin: 0 auto;
}

.events li span {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-family: azonix;
}

.segfault-bg.sel,
.segfault-bg:hover {
  background: #e58c3969;
  border-color: #e58c39;
}

.rhythmx-bg.sel,
.rhythmx-bg:hover {
  background: #e5bb5069;
  border-color: #e5bb50;
}

.abstraction-bg.sel,
.abstraction-bg:hover {
  background: #adcc4169;
  border-color: #adcc41;
}

.maximus-bg.sel,
.maximus-bg:hover {
  background: #2ca59369;
  border-color: #2ca593;
}

.desolate-planet-bg.sel,
.desolate-planet-bg:hover {
  background: #4386a869;
  border-color: #4386a8;
}

.justify-center {
  justify-content: center;
}

.events .direction-control {
  width: 12vh;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
}

.explanation {
  position: absolute;
  top: 100%;
  font-family: monospace;
  font-size: 1rem;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
}

.control {
  width: 6vh;
  height: 6vh;
  position: absolute;
  border-radius: 50%;
  top: 3vh;
  left: 3vh;
  background: #cccccc69;
}

h3 {
  margin: 1rem 0;
  width: 100%;
}

.launch {
  background: none;
  outline: none;
  border: 1.5px solid white;
  color: white;
  padding: 0.5rem 1rem;
  margin: 2rem 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media screen and (max-width: 750px) {
  .box {
    width: 80vw;
    height: 80vw;
  }

  .events {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .events li {
    min-width: 9em;
  }

  .events .direction-control {
    min-width: 0;
  }

  .explanation {
    max-width: 18vh;
  }

  .launch {
    left: 0;
    transform: none;
  }
}
