body {
  width: 100%;
  background-color: #01394a;
  color: whitesmoke;
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  padding: 1rem 0;
}

section {
  padding: 0 10%;
}

.nav-logo {
  height: 4.5rem;
}

.nav-link {
  font-size: 1.3rem;
  margin: 1vw;
  max-height: 1.3rem;
}

h3 {
  font-size: 1.7rem;
}

.evt {
  background-position: center;
  background-size: cover;
  color: black;
}

.evt0 {
  background-color: #e58c39;
  background-image: url('../assets/orange.png');
}
.evt1 {
  background-color: #e5bb50;
  background-image: url('../assets/yellow.png');
}
.evt2 {
  background-color: #adcc41;
  background-image: url('../assets/green.png');
}
.evt3 {
  background-color: #2ca593;
  background-image: url('../assets/teal.png');
}
.evt4 {
  background-color: #4386a8;
  background-image: url('../assets/blue.png');
}

.flex-1 {
  flex: 1;
  padding: 2rem;
}

header {
  padding: 4rem 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header img {
  width: 24vw;
  max-width: 40vh;
}

.event-header {
  font-family: azonix;
  font-weight: 600;
  letter-spacing: 0.03rem;
  text-align: center;
  margin-top: 2rem;
}

.detail {
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0;
  align-items: center;
}

.detail img {
  max-height: 1.9rem;
  margin-right: 1rem;
}

li, p {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.text {
  margin: 1rem 0;
}

h2 {
  font-size: 3.5rem;
}

