body {
  height: 100vh;
  width: 100%;
  background-color: aliceblue;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 100%;
  padding: 1rem 0;
}

section {
  padding: 0 10%;
}

.nav-logo {
  height: 3.5rem;
}

.nav-link {
  font-size: 1.3rem;
  margin: 1vw;
  max-height: 1.3rem;
}

.mathtrix-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 9rem auto;
  margin-bottom: 0;
}

.mathtrix-header img {
  max-width: 100%;
  max-height: 10rem;
  filter: grayscale() brightness(0);
}

.mathtrix-details {
  margin: 9rem 0;
}

.mathrix-details > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mathtrix-logo {
  width: 24vw;
  max-width: 40vh;
}

.mathtrix-header h1 {
  font-family: azonix;
  font-size: 8rem;
  font-weight: 800;
  letter-spacing: 10px;
}

h3 {
  font-size: 1.5rem;
}

.about {
  max-width: 900px;
}

.section {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.evt0 {
  background-color: #e5d272;
}
.evt1 {
  background-color: #c7c970;
}
.evt2 {
  background-color: #a9cc72;
}
.evt3 {
  background-color: #60a091;
}
.evt4 {
  background-color: #3a7491;
}

.flex-1 {
  flex: 1;
  padding: 2rem;
}

header {
  padding: 4rem 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header img {
  width: 24vw;
  max-width: 40vh;
}

.event-header {
  font-family: azonix;
  font-weight: 600;
  letter-spacing: 0.03rem;
  text-align: center;
  margin-top: 2rem;
}

.detail {
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0;
  align-items: center;
}

.detail img {
  max-height: 1.9rem;
  margin-right: 0.5rem;
}

p {
  font-size: 1.3rem;
}

.text {
  margin: 1rem 0;
}

h2 {
  font-size: 3.5rem;
}

.section-heading {
  margin-bottom: 1.5rem;
}
